
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: var(--paragraph-font);
max-width: 960px;
padding: 20px;
}
:root {
    --primary color: #19647e;
    --secondary- color: #28afb0
    --accent1-color: #f4d35e
    --accent2-color: #ee964b
    --heading-font: 'Roboto', serif;
    --paragraph-font: 'Roboto', serif;
    --Nav-background color: #19647e
    --nav-link-color: #28afb0
    --nav-hover-link-color: #f4d35e
    --nav-hover-background-color: #ee964b

  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
  }
  header {
    padding: 20px;
    background-color: var(--accent1-color)
  }
  p {
    padding:25px;
  }
  Nav {
    background-color: var(--nav-baackground-color);
    font-size: 1.2rem;
    dispaly: flex;
  }
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }